
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');


:root {
    --indochine: #ffd31b; 
    --light-green: #fff185;  
    --accent-green: #ffd31b;  
    --text-color: #333;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
  position: fixed;
  top: 0; 
  left: 0;
  width: 100%; height: 100%;
  object-fit: cover;
  z-index: -2;
}
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--white);
    scroll-behavior: smooth;
}


header {
    background-color: var(--white);
    padding: 1rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    box-shadow:  #26262b;
    z-index: 1000;
}

.logo {
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
    color: var(--indochine);
}

.logo span {
    color: #fff8c5;
}

.nav_link ul {
    display: flex;
    list-style: none;
}

.nav_link ul li {
    margin-left: 20px;
}

.nav_link ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 400;
    transition: color 0.3s ease;
}

.nav_link ul li a:hover {
    color: var(--accent-green);
}


main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem 5%;
}

section {
    padding: 4rem 0;
    border-bottom: 1px solid #eee;
}

h1 {
    font-size: 2.5rem;
    color: var(--indochine);
    margin-bottom: 1.5rem;
    text-align: center;
}

h3 {
    font-size: 1.8rem;
    color: var(--indochine);
    margin-bottom: 1rem;
    border-left: 5px solid var(--accent-green);
    padding-left: 15px;
}

ul {
    list-style: none;
    margin-bottom: 1rem;
}

ul li {
    padding: 10px 0;
    position: relative;
    padding-left: 25px;
}



.service {
   
    padding: 3rem;
    border-radius: 15px;
    border-bottom: none;
}

.formation {
    
    padding: 3rem;
    border-radius: 15px;
    border-bottom: none;
}

.admin {
   
    padding: 3rem;
    border-radius: 15px;
    border-bottom: none;
}

.contact {
    text-align: center;
    background-color: #292829;
    border-radius: 15px;
    margin-top: 2rem;
    border-bottom: none;
}

.contact a {
    color: var(--indochine);
    text-decoration: none;
    font-weight: bold;
}

.contact a:hover {
    text-decoration: underline;
}


footer {
    background-color: var(--light-green);
    color: var(--white);
    text-align: center;
    padding: 2rem 0;
    margin-top: 4rem;
}

.footer__copy {
    font-size: 0.9rem;
    opacity: 0.8;
}


@media (max-width: 768px) {
    header {
        flex-direction: column;
        padding: 1rem;
    }
    
    .nav_link ul {
        margin-top: 1rem;
    }
    
    .nav_link ul li {
        margin: 0 10px;
    }

    h1 {
        font-size: 2rem;
    }
}